
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}

    <div class="row">
        <div class="col-md-6 mt-2">
            <div class="card text-white bg-warning mb-3">
                <div class="card-body">
                    <h4 class="card-title text-center">Rapor Sayısı</h4>
                    <p class="card-text text-center display-4 text-danger">@ViewBag.RaporSayisi</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-2">
            <div class="card text-white bg-warning mb-3">
                <div class="card-body">
                    <h4 class="card-title text-center">Okunmayan Bildirim Sayısı</h4>
                    <p class="card-text text-center display-4 text-danger">@ViewBag.OkunmayanBildirimSayisi</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-2">
            <div class="card text-white bg-warning mb-3">
                <div class="card-body">
                    <h4 class="card-title text-center">Tamamlanan Görev Sayısı</h4>
                    <p class="card-text text-center display-4 text-danger">@ViewBag.TamamlananGorevSayisi</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-2">
            <div class="card text-white bg-warning mb-3">
                <div class="card-body">
                    <h4 class="card-title text-center">Tamamlanmayan Görev Sayısı</h4>
                    <p class="card-text text-center display-4 text-danger">@ViewBag.TamamlanmayanGorevSayisi</p>
                </div>
            </div>
        </div>
    </div>

